<div class="top-row pl-4 navbar navbar-dark" >
    @*<a class="navbar-brand" href="">Repuestos 24hs</a>*@
    <img  src="Images/logoR24.png"   alt=imagenLogo width=40 height=40 />
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
       
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="catalogoAplicaciones">
                <span class="oi oi-list" aria-hidden="true"></span>Catalogo Aplicaciones
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ArticulosPorDesignacion">
                <span class="oi oi-list" aria-hidden="true"></span>Rod.x Designacion
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ArticulosPorMedidas">
                <span class="oi oi-list" aria-hidden="true"></span>Rod.x Medidas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Contacto">
                <span class="oi oi-headphones" aria-hidden="true"></span>Contacto
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
