@page "/Contacto"
@using Models
@using Services
@inject IEmailSenderService EmailSenderService

<h3>Contacto</h3>

<EditForm Model="@mail" OnValidSubmit="SendEmail">
    
    @*<div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputApellido">Apellido</label>
            <input type="text" class="form-control" id="inputApellido" placeholder="Apellido">
        </div>
    </div>*@

    


    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" @bind="mail.Email">
        </div>

       @* <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>*@
    </div>

     <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputTitulo">Titulo</label>
            <input type="text" class="form-control" id="inputTitulo" placeholder="Titulo" @bind="mail.Subject" >
        </div>
    </div>


    <div class="form-group">
        <label for="inputBody">Address</label>
        <input type="text" class="form-control" id="inputBodys" placeholder="Mansaje..." @bind="mail.Body">
    </div>
    
    @*<div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
    </div>*@
   @* <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>*@
    <button type="submit" class="btn btn-primary">Sign in</button>


</EditForm>

@code {
    MailRequest mail = new MailRequest();

    private void SendEmail()
    {
        EmailSenderService.SendEmailAsync(mail);
    }

}
